<div id="wrapper">
  <div class="top_nav">
    <%= image_tag "logos/logo_about.png" %>
    <div class="links">
      <p class="button_link"><%= link_to promo_path do %> Промо <% end %></p>
      <p class="button_link"><%= link_to posts_path do %> Блог <% end %></p>
    </div>
  </div>
  <div class="perv_block_about">
    <img src="/assets/blocks/1_block_about" alt="">
    <div id="text_1_block">
    <h1>Медиа-сервис<br>отличного дизайна</h1>
    <p>Поможем людям сделать ремонт<br>в квартире: вдохновить их готовыми<br>решениями дизайна интерьера<br>или же научить делать хорошо.</p>
  </div>
</div>
<div class="vtor_block_about">
  <h2>Кто мы и чего хотим</h2>
  <img src="/assets/blocks/2_block_about.png" alt="">
</div>
<div class="tret_block_about">
  <h2>Целевая аудитория</h2>
  <img src="/assets/blocks/3_block_about.png" alt="">
</div>
<div class="chet_block_about">
  <h2>Базовые функции</h2>
  <img src="/assets/blocks/4_block_about.png" alt="">
</div>
<div class="pyat_block_about">
  <h2>Страницы</h2>
  <img src="/assets/blocks/5_block_about.png" alt="">
</div>
<div class="shst_block_about">
  <h2>CustDev</h2>
  <p>Результаты опроса (Было опрошено 56 человек)</p>
  <img src="/assets/blocks/6_block_about.png" alt="">
</div>
<div class="sedm_block_about">
  <img src="/assets/blocks/7_block_about.png" alt="">
</div>
</div>
